go 1.25.5

use (
	./adservice
	./cartservice
	./checkoutservice
	./currencyservice
	./emailservice
	./frontend
	./paymentservice
	./productcatalogservice
	./recommendationservice
	./shippingservice
)
